///// IMPORTS /////////////////////////
@import '_normalize';
@import 'bourbon/bourbon';
@import 'base/base';
// @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);


///// VARIABLES /////////////////////////
$white: #fff;
$black: #000;




///// BASE STYLES /////////////////////////
html {
  box-sizing: border-box;
  font-family: $helvetica;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

*, *:after, *:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
div {
  display: block;
}


///// ELEMENT STYLES /////////////////////////
.container {
  width: 90%;
  height: 800px;
  margin: 120px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  @media (max-width: 940px) {
    flex-flow: column wrap;
    height: 1200px;
  }
  > .footer {
    background-color: #700353;
    width: 60%;
    color: $white;
    border-radius: 30px;
    padding: 10px 0;
    box-shadow: 0 8px 6px -6px black;
  }
  > .header {
    font-size: 3.5em;
    text-shadow: 1px 1px 3px black;
    @media (max-width: 940px) {
      font-size: 2em;
    }
  }
  > div #winner {
    font-size: 2em;
    @media (max-width: 940px) {
      font-size: 1.5em;
    }
  }
  > .inner-container {
    width: 80%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @media (max-width: 940px) {
      height: 900px;
    }

    > .row {
      width: 80%;
      height:auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      @media (max-width: 1270px) {
        width: 90%;
      }
      @media (max-width: 940px) {
        flex-flow: column wrap;
      }
      > .items {
        flex: 1 100%;
        padding: 20px 0;
          > div input[type=submit] {
            width: 60%;
            box-shadow: 0 8px 6px -6px black;
          }
      }

    }

  }

}
