///// IMPORTS /////////////////////////
@import '_normalize';
@import 'bourbon/bourbon';
@import 'base/base';
// @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);


///// VARIABLES /////////////////////////
$white: #fff;
$black: #000;




///// BASE STYLES /////////////////////////
html {
  box-sizing: border-box;
  font-family: $helvetica;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

*, *:after, *:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
div {
  display: block;
}


///// ELEMENT STYLES /////////////////////////
.container {
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  @media (max-width: 940px) {
    flex-flow: column wrap;
    height: 1400px;
  }
  > #scoreboard {
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #222;
    margin-bottom: 5px;
    padding: 15px;
    width: 30%;
    position: sticky;
    color:$white;
    background-color: rgba(0,0,0, 0.8);
    // @media (max-width: 1500px) {
    //   width: 25%;
    // }
    @media (max-width: 940px) {
      width: 50%;
    }
    @media (max-width: 640px) {
      width: 80%;
    }
    @media (max-width: 440px) {
      width: 100%;
    }
  }
  // > .footer {
  //   background-color: #700353;
  //   width: 60%;
  //   color: $white;
  //   border-radius: 30px;
  //   padding: 10px 0;
  //   box-shadow: 0 8px 6px -6px black;
  //   @media (max-width: 440px) {
  //     width: 100%;
  //   }
  // }
  > .header {
    font-size: 3.5em;
    text-shadow: 1px 1px 3px black;
    @media (max-width: 940px) {
      font-size: 2em;
    }
  }
  > div #winner {
    font-size: 1.8em;
    font-weight: bold;
    @media (max-width: 940px) {
      font-size: 1.5em;
    }
  }
  > .inner-container {
    width: 80%;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @media (max-width: 940px) {
      height: 900px;
    }

    > .row {
      width: 80%;
      height:auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      @media (max-width: 1270px) {
        width: 90%;
      }
      @media (max-width: 940px) {
        flex-flow: column wrap;
      }
      > .items {
        flex: 1 100%;
        padding: 10px 0;
        > div input[type=submit] {
          width: 60%;
          box-shadow: 0 8px 6px -6px black;
        }
        > .rps:hover {
          animation: grow 0.2s;
          animation-timing-function: ease-out;
          animation-delay: 0;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-fill-mode: none;
          animation-play-state: running;
        }
        @keyframes grow {
          0% {
            width: 200px;
            height: 200px;
          }
          25% {
            width: 210px;
            height: 210px;
          }
          50% {
            width: 220px;
            height: 220px;
          }
          75% {
            width: 230px;
            height: 230px;
          }
          100% {
            width: 240px;
            height: 240px;
          }
        }
      }
    }
  }
}
